@using EscuelaMVC.Models

@{
    ViewBag.Title = "VerDetalle";
    EscuelaMVC.Models.Alumno ids = ViewBag.id;<!--Esto lo saco desde el controlador de HomeController-->
}



<div class="">
    <!--<img class="img-rounded" src="@ids.sImagen"/>-->
    <img src='@Url.Action("getImagen")' alt="@ids.sApellido"/>

</div>
<br/>
<form method="post">
    <div class="col-md-12">
        <div class="form-group ">
            <label for="Nombre">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" value='@ids.sNombre' readonly="readonly" >
        </div>

        <div class="form-group ">
            <label for="Apellido">Apellido</label>
            <input type="text" class="form-control " id="Apellido" name="Apellido" value='@ids.sApellido' readonly="readonly" >
        </div>
        <div class="form-group">
            <label for="Grupo">Grupo</label>
            <input type="text" class="form-control " id="Grupo" name="Grupo" value='@ids.sGrupo' readonly="readonly" >
        </div>
    </div>
</form>

<h2>VerDetalle</h2>

